# My Jupyter Notebook on IBM Watson Studio

*By Taylor Stallman*

## Objectives:

**Final Project:** <br> For the project scenario, here is an overview of your tasks. The following reading sections will provide you with detailed instructions for each task. <br> **Project Tasks:** <br> Task 1: Familiarize yourself with the dataset. <br> Task 2: Generate basic statistics and visualizations for upper management. <br> Task 3: Use the appropriate tests to answer the questions provided. <br> Task 4: Share your Jupyter Notebook.

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import seaborn as sns
import matplotlib.pyplot as plt 
import scipy.stats

sns.set(rc={'figure.figsize':(11.7,8.27)})

ModuleNotFoundError: No module named 'statsmodels'

In [2]:
# Read the CSV file required for the assignment

boston_url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-ST0151EN-SkillsNetwork/labs/boston_housing.csv'
boston_df = pd.read_csv(boston_url)

## Assignment Exercise

In [3]:
boston_df.head()

,Unnamed: 0,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,4.98,24.0
1,1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,9.14,21.6
2,2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,4.03,34.7
3,3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,2.94,33.4
4,4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,5.33,36.2

## Task 2: Generate basic statistics and visualizations for upper management

In [4]:
# Boxplot of median value of owner-occupied homes
ax = sns.boxplot(y='MEDV', data = boston_df).set_title('Median Value of Owner-Occupied Homes')

NameError: name 'sns' is not defined

In [6]:
# Provide a boxplot for the MEDV variable vs the AGE variable. (Discretize the age variable into three groups of 35 years and younger, between 35 and 70 years and 70 years and older)

# Create discrete age groups
boston_df.loc[(boston_df['AGE'] <= 35), 'age_group'] = '35 years and newer'
boston_df.loc[(boston_df['AGE'] >= 70), 'age_group'] = '70 years and older'
boston_df.loc[(boston_df['AGE']>35)&(boston_df['AGE'] < 70), 'age_group'] = 'between 35 and 70 years'

# Create boxplot
sns.set(style="whitegrid")
plt.figure(figsize=(16, 6))
ax = sns.boxplot(x='age_group', y='MEDV', data=boston_df)

NameError: name 'sns' is not defined

In [7]:
# Provide a scatter plot to show the relationship between Nitric oxide concentrations and the proportion of non-retail business acres per town. What can you say about the relationship?
ax = sns.scatterplot(x='NOX', y='INDUS', data = boston_df)

NameError: name 'sns' is not defined

In [8]:
# Create a histogram for the pupil to teacher ratio variable
chart = sns.catplot(x='PTRATIO', kind='count', height=8.27, aspect = 1.5, palette='twilight' ,data = boston_df)
chart.set_xticklabels(rotation=65, horizontalalignment='right')

NameError: name 'sns' is not defined

## Task 3: Use the appropriate tests to answer the questions provided

**Be sure to:** <br> State your hypothesis. <br> Use a = 0.05 <br> Perform the test Statistics. <br> State the conclusion from the test.

Is there a significant difference in median value of houses bounded by the Charles river or not? (T-test for independent samples) <br> State the hypothesis: <br> -   $H_0: u1 = u2$ (\"there is no difference in the median value of houses bounded by the Charles river\") <br> -   $H_1: u1 != u2$ (\"there is a difference in the median value of houses bounded by the Charles river\")

In [9]:
scipy.stats.ttest_ind(boston_df[boston_df['CHAS'] == 1]['MEDV'],
                 boston_df[boston_df['CHAS']== 0]['MEDV'],
                 equal_var = True)

NameError: name 'scipy' is not defined

**Conclusion**: Since the P-value is greater than 0.05, we accept the null hypothesis as there is not enough proof that there is a statistical difference in median house prices based on proximity to Charles river.

Is there a difference in Median values of houses (MEDV) for each proportion of owner occupied units built prior to 1940 (AGE)? (ANOVA) <br> State the hypothesis: <br> -   $H_0: u1 = u2 = u3$ (the three population means are equal) <br> -   $H_1:$ At least one of the means differs

In [10]:
scipy.stats.levene(boston_df[boston_df['age_group'] == '35 years and newer']['MEDV'],
                   boston_df[boston_df['age_group'] == 'between 35 and 70 years']['MEDV'],
                   boston_df[boston_df['age_group'] == '70 years and older']['MEDV'],
                   center='mean'
                  )

NameError: name 'scipy' is not defined

In [11]:
# Separate samples into a variable each

thirtyfive_lower = boston_df[boston_df['age_group'] == '35 years and newer']['MEDV']
between = boston_df[boston_df['age_group'] == 'between 35 and 70 years']['MEDV']
seventy_older = boston_df[boston_df['age_group'] == '70 years and older']['MEDV']

In [13]:
f_statistic, p_value = scipy.stats.f_oneway(thirtyfive_lower, between, seventy_older)
print("F-statistic: {0}, P-value: {1}".format(f_statistic, p_value))

NameError: name 'scipy' is not defined

**Conclusion**: Since the p-value is lower than 0.05, we are able to reject the null hypothesis as there is sufficent evidence to conclude that one of the means differs.

Can we conclude that there is no relationship between Nitric oxide concentrations and proportion of non-retail business acres per town? (Pearson Correlation) <br> State the hypothesis: <br> -   $H_0: u1 = u2$ (\"Nitric oxide concentration is not correlated with proportion of non-retail business acres per town\") <br> -   $H_1: u1 != u2$ (\"Nitric oxide concentration is correlated with proportion of non-retail business acres per town\")

In [14]:
ax = sns.scatterplot(x='INDUS', y='NOX', data=boston_df)

NameError: name 'sns' is not defined

In [15]:
scipy.stats.pearsonr(boston_df['INDUS'], boston_df['NOX'])

NameError: name 'scipy' is not defined

**Conclusion:** Since the p-value is smaller than 0.05, we reject the null hypothesis and conclude that there exists a relationship between Nitric oxide levels and industry.

What is the impact of an additional weighted distance  to the five Boston employment centres on the median value of owner occupied homes? (Regression analysis) <br> State the hypothesis: <br> -   $H_0: b1$ = 0 (Distance to employment centre has no effect on median value of homes) <br> -   $H_1: b2$ != 0 (Distance has an effect on median value of homes)

In [16]:
# X is the input variable
X = boston_df['DIS']

# Y is dependent variable
y = boston_df['MEDV']

# add an intercept to mdel
X=sm.add_constant(X)

model = sm.OLS(y, X).fit()
predictions = model.predict(X)

#print statistics
model.summary()

NameError: name 'sm' is not defined

**Conclusion:** p < 0.05 there is correlation between distance to employment centre and median house prices.